{{!-- Templating for all News  --}}
{{!-- Iterate Over all the articles --}}
{{#each articles}}
  <div class="card">
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h3 class="card-title">{{player}}</h3>
      <h4 class="card-title">{{team}}</h4>
        <!--Text-->
        <p class="card-text"><i>{{report}}</i></p>
        <p class="card-text">{{impact}}</p>
        <a href="http://www.nba.com/{{team}}" class="btn btn-raised active">More {{team}} news</a>
    </div>
  </div>
{{/each}}
